/*  COLOR MORADO NAV, FOOTER, ICONOS: #61458c;
    COLOR FONDO WHO WE ARE Y PÒRTFOLIO: #f2f2f2
    COLOR SERVICES: #ffffff
    COLOR HEADINGS: #4e4e4e
    COLOR PARRAFOS: #787878
    COLOR FONDO EMAIL US: #79629e;
*/

@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    margin: 0 auto;
    color: #636363;
    
}

header {
    background-image: url("../img/header.jpg");
    background-size:100% 100%;
    height: 170px;
    width: 994px;
    margin: 0 auto;
    padding-top: 130px;
    padding-left: 30px;
    
}

h1 {
    color:rgb(255, 255, 255);
    text-align: left;
    font-size: 25px;
}


nav {
    width: 1024px;
    margin: 0 auto;
    height: 60px;
    overflow: hidden;
    background-color: #61458c;
}

  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li a {
    display: inline-block;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 300ms ease-out;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 4px;
}

nav li a:hover {
    display: inline-block;
    color: #61458c;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 4px;
}

main {
    width: 1024px;
    margin: 0 auto;
    line-height: 1.5;
}

main section h2 {
    text-align: center;
    color: #000;
    font-size: 35px;
    font-weight:500;
    line-height: 1.5;
    padding: 30px;
    
}

main section h3 {
    text-align:left;
    color: #000;
    font-size: 20px;
    padding: 15px 15px 15px 0px;
  
}

.brief {
    text-align: center;
    margin-bottom: 50px;
}

.colum{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    column-rule: solid 1px #ccc;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

.ImagenColum {
    float:left;
    border-radius: 5px;
    margin-right: 15px;
}

.ImagenPublicidad {
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.service {
    background-color: #ffffff;
    text-align: justify;
    height: 600px;

}

.service article {
    margin-left: 60px;
    float: left;
    width: 250px;
    margin-bottom: 50px;
    
    
}

.icon-circle {
    color: #61458c;
    float: left;
    font-size: 50px;
    text-align: center;
    width: 88px;
    height: 65px;
    border: #d3d3d3 4px solid;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 15px;
    margin-right: 10px;
 
}

.icon-circle:hover {
    color: #61458c;
    background-color: #e6e3ee;
    font-size: 50px;
    text-align: center;
    width: 88px;
    height: 65px;
    border: #d3d3d3 4px solid;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 15px;
    margin-right: 10px;
}

.icon-circle:active {
    color: #ffffff;
    background-color: #8d7bad;
    font-size: 50px;
    text-align: center;
    width: 88px;
    height: 65px;
    border: #68587f 4px solid;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 15px;
    margin-right: 10px;
}


.imgportfolio {
    display: grid;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    
    
}

.imgrotate {
    transform: translate(0px, 0px);
    transition: transform 410ms ease-out;
  }
  
.imgrotate:hover {
    transform: rotate(345deg) translate(0px, 0px);
  }

.imgrotate2 {
    transition: transform 800ms ease-out,
    border 600ms ease 104ms, 
    border-radius 600ms ease 104ms;;
}
  
.imgrotate2:hover {
    transform: rotate(360deg) translate(0px, 0px);
    transition: 
      transform 800ms ease 104ms, 
      border 600ms ease 104ms, 
      border-radius 600ms ease 104ms;
    border: 600px none rgba(100, 100, 100, 1);
    border-radius: 50%;

  }  


.location {
    background-color: #ffffff;
    text-align: justify;
    padding-bottom: 150px;

    
}

address {
    display: inline-block;
    padding-top: 25px;
    width: 185px;

}

.mapa {
    float:left;
    width: 350px;
    height: 350px;
    border:rgb(0, 0, 0) 2px solid;
    border-radius: 50%;
    margin-left: 250px;
    margin-right: 50px;
}

.emailus {
    background-color: #79629e;
    background-image: url(../img/map-image.png);
    background-size:100% 100%;
    color: #ffffff;
    text-align: center;

}
.emailus h2 {
    color: #ffffff;
}

form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
}

form label {
    display: inline-block;
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
    vertical-align: top;
    
}

form input {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 3px;
    border:  none;
    
    
}

form input :required {
    background-color:#09032ce7;
}

form textarea {
    display: inline-block;
    width: 201px;
    border-radius: 3px;
    border:  none;
    font-family: Arial, Helvetica, sans-serif;
}

form p {
    margin-left: 25px;
}

.submit {
    display: inline-block;
    margin-left: 128px;
    width: 100px;
    height: 20px;
    background-color: #ffffff;
    border: 2px;
    border-radius: 5px;
    margin-bottom: 10px;
    
}

.submit:hover {
    display: inline-block;
    margin-left: 128px;
    width: 100px;
    height: 20px;
    background-color: #dddbdb;
    border: none;
    border-radius: 5px;
}





footer {
    width: 1014px;
    height: 20px;
    margin: 0 auto;
    background-color: #61458c;
    color: #ffffff;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 15px;       
}

footer a {
    display: inline-block;
    color: white;
    transition: background-color 300ms ease-out;

}

footer a:hover {
    display: inline-block;
    color: #61458c;
    transition: background-color 300ms ease-out;
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.icon-circle {
    width: 90px;
    height: 90px;
    border: 4px #d3d3d3 solid;
    border-radius: 50%;  
    display: flex;
    justify-content: center; 
    align-items: center; 
}


