/*  COLOR MORADO NAV, FOOTER, ICONOS: #61458c;
    COLOR FONDO WHO WE ARE Y PÒRTFOLIO: #f2f2f2
    COLOR SERVICES: #ffffff
    COLOR HEADINGS: #4e4e4e
    COLOR PARRAFOS: #787878
    COLOR FONDO EMAIL US: #79629e;
*/

@import url("reset.css");
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

header {
    background-image: url("../img/header.jpg");
    background-size:100% 100%;
    height: 170px;
    width: 994px;
    margin: 0 auto;
    padding-top: 130px;
    padding-left: 30px;
    background-color: #f2f2f2;
    
}

h1 {
    color:rgb(255, 255, 255);
    text-align: left;
    font-size: 25px;
}


nav {
    width: 1024px;
    margin: 0 auto;
    height: 60px;
    overflow: hidden;
    background-color: #61458c;
}

  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li a {
    display: inline-block;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 300ms ease-out;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 4px;
}

nav li a:hover {
    display: inline-block;
    color: #61458c;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 8px;
    border-radius: 4px;
}

main {
    width: 1024px;
    margin: 0 auto;
}

main section h2 {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}

.light-bg {
    background-color: #f2f2f2;
}

.icon-circle {
    width: 90px;
    height: 90px;
    border: 4px solid;
    border-radius: 50%;
    border-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}